# Copy this file to .env and tweak values if needed.
KAFKA_EXTERNAL_PORT=9092
KAFKA_UI_PORT=8080
CONNECT_PORT=8083
SCHEMA_REGISTRY_PORT=8081
POSTGRES_PORT=5432
MARQUEZ_WEB_PORT=3000
MARQUEZ_API_PORT=5000
